nav.header-nav
  ul.inline-list
    | {% for item in site.data.navigation.main %}
    li(class="{{item.listClass}}")
      a(href="#{{item.link }}")
        | {% if item.iconUrl %}
        |  {%- include {{ site.baseurl}}{{item.iconUrl}}.svg -%}
        | {% endif %}
        |  {{- item.name -}}
    | {% endfor %}
