.social-links
  ul.inline-list.social-list
    | {% for item in site.data.navigation.social %}
    | {% if item.header %}
    li
      a(href="{{ item.link }}" target="_blank" class="js-social-link js-social-link-{{item.name | downcase}}")
        | {% if item.iconUrl %}
        |   {%- include {{site.baseurl}}{{item.iconUrl}}.svg -%}
        | {% endif %}
        span.sr-only
          | {{item.name}}
    | {% endif %}
    | {% endfor %}
