.social-links
  ul.inline-list.social-list
    | {% for item in site.data.navigation.social %}
    li
      a(href="{{ item.link }}" target="_blank" class="js-social-link js-social-link-{{item.name | downcase}}")
        img(class="icon icon-{{item.name | downcase}}" src="{{ site.baseurl}}{{item.icon }}")
        span.sr-only
          | {{item.name}}
    | {% endfor %}
