form.contact-form( action='thank-you', method='post', name='Contact Form')
  textarea(placeholder='Send us a message', name='message', required)
  .form-controls
    .form-input
      label(for='contact-email').sr-only Enter your email address
      input(type='email', name='email', placeholder='Enter your email address', required)#contact-email
    .sr-only
      label Don't fill this out if you're human:
        input(name='bot-field')
    button(type='submit').btn.btn-primary Send message
  p.form-confirmation
