form.hero-signup(name="Quick Signup Form")
  .form-input
    label(for="hero-signup").sr-only Enter your email address
    input(type="email" name="email" placeholder="Enter your email address" required)#hero-signup
  button(type="submit").btn.btn-primary Sign up for updates
  .form-confirmation
